*.gen.*
.godot/

.scons_cache/
.cache/
.sconsign*.dblite

demo/addons/

*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite

!vc140.pdb